<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<div class="container">
<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card chat-app">
          <div id="plist" class="people-list">
            <h4> Hi, <%= link_to @current_user&.username, root_path %> </h4> 
            <h4>Other users</h4>
            <%= turbo_stream_from "users"%>
            <ul id="users" class="list-unstyled chat-list mt-2 mb-0">  
              <%= render @users %>
            </ul>
            <h4>Rooms</h4>
            <%= render partial: 'layouts/new_room_form' %>
            <%= turbo_stream_from "rooms" %>
              <ul id="rooms" class="list-unstyled chat-list mt-2 mb-0">
              <%= render @rooms %>
            </ul>
          </div>

          <div class="chat">
             <% if @single_room %>
               <div class="chat-header clearfix">
                    <h5 class="m-b-0"> nama
                      <%= @user.username || @single_room.name %>
                    </h5>
               </div>
                 <div class="chat-history"> 
                  <%= turbo_stream_from 'single_room' %>
                  <ul class="m-b-0">
                    <%= render @messages %>   
                  </ul>
                 </div>
                 <div> <%= render partial: 'layouts/new_message_form' %> </div>
              <% end %>
            </div>
        </div>
    </div>
</div>
</div>

