<div>
  <% unless pesan.room.is_private %>
    <h6 class="name"> <%= pesan.user.username %> </h6>
  <% end %>
  <%= pesan.content %>
</div>
<div class="cont-<%= pesan.user.id %>">
  <div class="message-box msg-<%= pesan.user.id %> " >
    <% unless pesan.room.is_private %>
      <h6 class="name"> <%= pesan.user.username %> </h6>
    <% end %>
  <%= pesan.content %>
  </div>
</div>
<div class="relative ml-3 text-sm bg-white py-2 px-4 shadow rounded-xl">
  <div>Hey How are you today?</div>
</div>