<div>
  <% unless pesans.room.is_private %>
    <h6 class="name"> <%= pesans.user.username %> </h6>
  <% end %>
  <div class="relative ml-3 text-sm bg-white py-2 px-4 shadow rounded-xl">
    <%= pesans.content %>
  </div>
</div>
<div class="cont-<%= pesans.user.id %>">
  <div class="message-box msg-<%= pesans.user.id %> " >
    <% unless pesans.room.is_private %>
      <h6 class="name"> <%= pesans.user.username %> </h6>
    <% end %>
  <div class="relative ml-3 text-sm bg-white py-2 px-4 shadow rounded-xl">
    <%= pesans.content %>
  </div>
  </div>
</div>